include CONTRIBUTING.rst
include CODE_OF_CONDUCT.md
include LICENSE.txt
include README.rst

# test
recursive-include gmeterpy test*.py
recursive-include gmeterpy/*/tests/data *

# docs
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

global-exclude __pycache__ *.py[co]

include versioneer.py
include gmeterpy/_version.py
