include CONTRIBUTING.rst
include LICENSE.txt
include README.rst

# test
recursive-include gmeterpy test*.py

# docs
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

global-exclude __pycache__ *.py[co]

include versioneer.py
include gmeterpy/_version.py
