[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
astropy = "*"

[dev-packages]
codecov = "*"
flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
versioneer = "*"
